Icon?
.DS_Store
.svn
*~
*.swp
sftp-config.json
.remote-sync.json
.sass-cache
node_modules
html/perch/resources
# @todo-perch uncomment
# html/perch/config/config_private.php

# PhpStorm
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/webServers.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
