<perch:if exists="paging">
  <div class="clearfix mx-auto my-4 text-center">
    <perch:if exists="not_first_page">
      <a href="<perch:content id="prev_url" type="hidden" encode="false" />" class="hidden w-12 p-1  wide_tablets:inline-block rounded-sm">Previous</a>
    </perch:if>
    Page <perch:content id="current_page" type="hidden" /> of <perch:content id="number_of_pages" type="hidden" />

    <perch:content id="page_links" encode="false" type="hidden" />
    <perch:if exists="not_last_page">
      <a href="<perch:content id="next_url" type="hidden" encode="false" />" class="hidden w-12 p-1  wide_tablets:inline-block rounded-sm">Next</a>
    </perch:if>
  </div>
</perch:if>