.form_table-wrap {
    display: table;
    width: 100%;
    // same as on .form-field_wrap
    margin: 1em 0;
}

.form_table-group {
    display: table-row-group;
    .form_table-col:first-child {
        padding-left: 1em;
    }
}

.form_table-row {
    display: table-row;
}
.form_table-row-headings {
    text-align: center;
}

.form_table-col {
    display: table-cell;
    // padding has to be here because table-row's can't have "formatting"
    // margin doesn't work as expected
    padding: 0.25em 0.5em 0.25em 0;
    &:last-child {
        padding-right: 0;
    }
    label {
        display: inline-block;
    }
}