.form-wrap {
    // @todo complete conversion
    @apply w-9/10 max-w-sm;
    //width: 90%;
    //max-width: 30em;
    margin: 1em auto;
    padding: 1em;
    border-radius: $border-radius;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@mixin text-input() {
    input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):not([type=color]), textarea, select {
        @content;
    }
}

.field-wrap-text, .field-wrap-select {
    @apply mb-4;
    label {
        @apply block mb-1;
    }
}
.field-wrap-text {
    @include text-input() {
        width: 100%;
        padding: 0.5em;
        border: 1px solid rgba($color-grey-dark, 0.15);
        border-radius: $border-radius;
        background-color: rgba(255, 255, 255, 0.9);
    }
    input[type=file] { width: 100%; }
}
.field-wrap-select {
    select {
        @apply p-2;
        height: 2.3rem;
    }
}
.field-wrap-checkbox {
    @apply mb-4;
    label {
        // @todo tailwind
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0;
    }
}
.field-wrap-radio_row {
    > label:first-of-type {
        @apply block mb-1;
    }
    label {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0;
    }
}

// @todo tailwind
.field-wrap-readonly {
    position: relative;

    @include text-input {
        opacity: 0.4;
    }

    &:after {
        position: absolute;
        top: 0.5em;
        right: 0;
        font-size: 0.7em;
        opacity: 0.5;
        content: "read-only";
    }
}

// @todo tailwind
.field-help {
    margin-top: 0.2em;
    // the padding helps it align better with field above
    padding-left: 0.1em;
    font-size: 0.8em;
    color: lighten($text-color, 17%);
    font-style: italic;
}

// @todo tailwind
.form-action {
    font-size: 0.8em;
    margin-right: 1em;
}

// @todo tailwind
.field-errors {
    list-style: none;
    margin: 0 0 $form-space-separator;
    padding-left: 0;
    li {
        margin-bottom: $form-space-separator;
        padding: 0.5em;
        background: $color-grey-light;
        border-left: 10px solid $status-type-danger;
        border-width: 0 0 0 10px;
    }
}

// @todo DH review if needed
// for the labels within the vich file uploader widget
.vich-file label {
    @apply mb-1;
}