<div class="anchor" id="sent"></div>
<perch:form id="contact" method="post" action="#sent" app="perch_forms" accept-charset="utf-8">
    <perch:success>
         <div class="alert alert-success">
             <perch:content id="thankyou" label="Success Message" type="text" />
         </div>
    </perch:success>
    <perch:error for="all" type="general">
        <div class="alert alert-danger">Looks like something isn't quite right. Please see the messages below.</div>
    </perch:error>

    <div class="field-wrap">
        <perch:label for="name">Name</perch:label>
        <perch:error for="name" type="required">
            <div class="alert alert-danger">Please enter your name.</div>
        </perch:error>
        <perch:input type="text" id="name" required label="Name" size="30" maxlength="100" antispam="name" />
    </div>
    <div class="field-wrap">
        <perch:label for="email">Email</perch:label>
        <perch:error for="email" type="required">
            <div class="alert alert-danger">Please add your email address.</div>
        </perch:error>
        <perch:error for="email" type="format">
            <div class="alert alert-danger">Please check your email address.</div>
        </perch:error>
        <perch:input type="email" id="email" required label="Email" placeholder="Required – you@example.com" size="30" maxlength="100" antispam="email" />
    </div>
    <div class="hidden">
        <perch:label for="email_verification">Email Verification</perch:label>
        <perch:input type="text" id="email_verification" antispam="honeypot" />
    </div>
    <div class="field-wrap">
        <perch:label for="phone">Phone</perch:label>
        <perch:input type="tel" id="phone" label="Phone" placeholder="Optional – 403-222-3333" size="15" maxlength="15" />
    </div>
    <div class="field-wrap field-wrap-textarea">
        <perch:label for="message">Message</perch:label>
        <perch:error for="message" type="required">
            <div class="alert alert-danger">Please add a message.</div>
        </perch:error>
        <perch:input type="textarea" id="message" required label="Message" antispam="body" />
    </div>

    <perch:input type="cms" />

    <div class="form-button_wrap">
        <button>Send</button>
    </div>
</perch:form>
