<html>
<head>
    <title><perch:email id="email_subject" /></title>
</head>
<body>
<p>The following was submitted on the website:</p>
<table>
    <tr>
        <th style="text-align: left; vertical-align: top;">Name</th>
        <td><perch:email id="name" /></td>
    </tr>
    <tr>
        <th style="text-align: left; vertical-align: top;">Email</th>
        <td><perch:email id="email" /></td>
    </tr>
    <tr>
        <th style="text-align: left; vertical-align: top;">Phone</th>
        <td><perch:email id="phone" /></td>
    </tr>
    <tr>
        <th style="text-align: left; vertical-align: top;">Message</th>
        <td><perch:email id="message" /></td>
    </tr>
</table>
</body>
</html>